/* 
#FAFAFA
#ff7e67
#a2d5f2
#07689f 
*/

body {
  background-color: #fafafa;
  margin: 0;
  color: black;
  font-family: "Montserrat", sans-serif;
}

hr {
  background-color: #07689f;
}

/* h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
} */

h3 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

h4 {
  color: #07689f;
  font-size: 30px;
}

#navbar {
  background-color: black;
  border: 1px solid black;
  border-radius: 0 0 20px;
  overflow: hidden;
  width: 460px;
  font-size: 16px;
}

#navbar a {
  padding: 15px;
  color: white;
  text-decoration-line: none;
  font-weight: bold;
  float: left;
}

#navbar a:hover {
  color: #a2d5f2;
  font-weight: bold;
}
#navbar a:active {
  color: #a2d5f2;
  font-weight: bold;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#introContainer {
  background-color: #a2d5f2;
  padding: 60px 0 60px;
}

#introTitle {
  color: #07689f;
  font-size: 100px;
  text-align: center;
  font-family: "Pacifico", cursive;
  margin-bottom: 40px;
}

#summary {
  text-align: center;
  font-size: 20px;
  margin: 0 80px 120px;
}

#projectsContainer {
  background-color: #fafafa;
  padding: 20px;
}

#aboutContainer {
  padding: 20px 120px 80px;
  background-color: #fafafa;
}

.aboutRow {
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}

#aboutImage {
  width: 30%;
  float: left;
  margin-right: 30px;
}

/* .aboutFlex {
  display: flex;
  flex-direction: row;
}

#pictureOfMe {
  height: 400px;
  border: #fafafa solid 4px;
} */

/* #aboutMeP {
  font-size: 18px;
  margin: 40px 40px 40px 20px;
  text-align: center;
} */

#skillsContainer {
  background-color: #fafafa;
  padding: 20px;
}
.skillRow {
  width: 80%;
  height: 80%;
  margin: 50px auto 120px;
  text-align: left;
  line-height: 2;
}

.skillImage {
  width: 25%;
  float: left;
  margin-right: 30px;
}

#contactContainer {
  /* background-color: #a2d5f2; */
  padding: 40px;
}
